:root {
    --blue: #052148;
    --white-color: #ededed;
    --black-color: #131313;
    --button-color:#ffffff;
    --dashboard-purple:rgba(103, 80, 164, 0.05);
    --yellow-color:#ffa000;
    --dashboard-border-color: #ddd;
    --text-color-h2:#49454f;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', 'sans-serif';
    background: #E5E5E5; 
}

.navbar {
    width: 100%;
    background-color: var(--blue);
    color: var(--white-color);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
    overflow-x: auto;
    height: 8%;
    overflow: hidden;
}

.navbar-title {
    margin: 0;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
    max-width: 25%;
    flex: 1;
}

.navbar-button {
    flex: 1; 
    padding: 8px 15px;
    background-color: var(--button-color);
    border: none;
    color: var(--blue);
    border-radius: 5px;
    cursor: pointer;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over the dropdown button */
.navbar-dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
    height: auto;
}

.left-panel {
    width: 80%;
    background-color: var(--white-color);
    padding: 30px;
}

.right-panel {
    width: 20%;
    background-color: var(--white-color);
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dashboard {
    display: flex;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 10px);
    background-color: var(--dashboard-purple);
    border: 1px solid var(--dashboard-border-color);
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    min-height: 200px; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar{
        width: 100%;
        overflow: hidden;
    }
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevent horizontal scrollbar */
        overflow-y: auto;
    }
    .container {
        flex-direction: column; /* Change flex direction to column for smaller screens */
    }

    .left-panel,
    .right-panel {
        padding:0;
        flex-direction: column;
        width: 100%; /* Make both panels take full width in the column layout */
    }
    .left-panel{
        padding-top: 5%;
        height: auto;
    }
    .right-panel{
        padding-top: 5%;
    }

    .dashboard {
        flex-direction: column; /* Change flex direction to column for smaller screens */
    }

    .card {
        width: 96%; /* Make each card take full width in the column layout */
        margin-left: 2%;
        margin-right: 2%;
        min-height: auto;
    }

    .task-container{
        width: 96%; /* Make each card take full width in the column layout */
        margin-left: 2%;
        margin-right: 2%;
        height: auto;
        margin-top: 0;
    }
    .breadcrumb-container{
        width: 96%; /* Make each card take full width in the column layout */
        margin-left: 2%;
        margin-right: 2%;
        height: auto;
        margin-top: 0;
    }

    .menu{
        width: 96%; /* Make each card take full width in the column layout */
        margin-left: 2%;
        margin-right: 2%;
    }
   
}

.task-container {
    margin-top: 20px;
    background-color: var(--dashboard-purple);
    border: 1px solid var(--dashboard-border-color);
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

.task-heading {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.task-divider {
    border-top: 1px solid var(--dashboard-border-color);
    margin-bottom: 10px;
}

.task-subheading {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--text-color-h2);
    margin-top: 20px;
    margin-bottom: 25px;
}

.task-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

.task-line:hover {
    background-color: var(--white-color);
    border-radius: 25px;;
}

.task-line div {
   
    text-align: left;
    top: auto;
    bottom: auto;
}

.task-line .div1 {
    width: 35%;
    padding-left: 2%;
  }

.task-line .div2 {
    width: 15%;
    padding-left: 2%;
}
.task-line .div3 {
    width: 10%;
    padding-left: 2%;
}
.task-line .div4 {
    width: 10%;
    padding-left: 2%;
    text-align:center;

}
.task-btn{
    flex: 1; 
    padding: 0;
    border: none;
    color: var(--black-color);
    cursor: pointer;
    
}


.status {
    width: 20%;
    text-align: center;
}

.Completed {
    width: 100%;
    text-align: center;
	color: 	#1c7232;
	
}

.Incomplete {
    width: 100%;
    text-align: center;
	color: #721C24;
	background-color: #f8d7da;
	height: max-content;
    border-radius: 25px;
    border: 1px solid var(--dashboard-border-color);
}

.progress-container {
    width: max-content;
    height: min-content;
    background-color: #e0e0e0;
    border-radius: 5px;
    text-align: center;
    color: white; /* Text color inside the progress bar */
}

.progress-bar {
    height: auto;
    background-color: #76b852; /* Green background */
    border-radius: 5px;
    display: flex;
    align-items: center; /* Align text vertically */
    justify-content: center; /* Align text horizontally */
}

.menu{
    margin-top: 0;
    background-color: var(--dashboard-purple);
    border: 1px solid var(--dashboard-border-color);
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;

}

.footer {
    width: 100%;
    background-color: #d9d9d9;
    color: var(--black-color);  
    font-size: 0.7em;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    box-sizing: border-box;
 /* Fixed position to keep it at the bottom */
    bottom: 0; /* Stick it to the bottom of the viewport */
}

a:link{
    color:black;
    text-decoration: none; 
}
a:visited { 
    color:black;
    text-decoration: none; 
  } 
a:hover { 
    color:black;
    text-decoration: none; 
  } 
a:active { 
    color:black;
    text-decoration: none; 
  }

.full-screen-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw; 
    height: 100vh; 
    margin: 0;
    background-color: #f4f4f4; 
    max-width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 16px;
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.form-container h2 {
    color: var(--text-color-h2);
    margin-bottom: 20px;
}

.flex-form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--dashboard-border-color);
    border-radius: 5px;
}

select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--dashboard-border-color);
    border-radius: 5px;
}

/*
button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(103, 80, 164);
    width: 100%;
    font-size: 16px;
}
*/
.form-button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(103, 80, 164);
    width: 100%;
    font-size: 16px;
}

/* Error and success messages */
.error{
	text-align: center;
	color: #721C24;
	margin: 10px 0;
	font-size: 15px;
	background-color: #f8d7da;
	padding:15px 15px 15px 15px;
	border-radius: 20px;
}
.success{
	text-align: center;
	color: 	#1c7232;
	margin: 10px 0;
	font-size: 15px;
	background-color: #d7f8e5;
	padding:15px 15px 15px 15px;
	border-radius: 20px;	
}
.notice{
	text-align: center;
	color: 	#664d03;
	margin: 10px 0;
	font-size: 15px;
	background-color: #fff3cd;
	border: 1px solid #664d03;
	padding:15px 15px 15px 15px;
	border-radius: 20px;	
}
.notice-button-yes {
	align-items: center;
	height: 30px;
	width: calc(100% / 10 - 3px);
	min-width: 60px;
	margin-left: 10px;
	border-width: 1px;
	font-size: 15px;
	font-weight: 500;
	background: #664d03;
	color: #fff3cd;
	border-radius: 25px;
	cursor: pointer;	
}
.notice-button-no {
	align-items: center;
	height: 30px;
	width: calc(100% / 10 - 3px);
	min-width: 60px;
	margin-left: 10px;
	border-width: 1px;
	font-size: 15px;
	font-weight: 500;
	background: #fff3cd;
	color: #664d03;
	border: 1px solid #664d03;
	border-radius: 25px;
	cursor: pointer;	
}


/* Home page design */
.home-section {
    display: flex;
    width: 100%;
    height: 100%;
}

.home-main-section {
    background: url('src/grungy-blue-background-natural-cement-stone-old-texture-as-retro-pattern-wall-conceptual-wal.jpg') center/cover;
    position: relative;
    width: 70%;
    overflow: hidden;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.home-content {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    color: #fff;
    width: 80%;
    padding-left: 5%;
}

.home-side-section {
    background-color: var(--blue);
    width: 30%;
    position: relative;
    overflow: hidden;
}

.home-content h1 {
    font-size: 4em;
    color: var(--yellow-color); 
    margin-bottom: 10px;    
}
.home-content h3 {
    font-size: 1.8em;
    color: #fff; 
    padding-top:20px;
    margin-bottom: 10px;
}

.home-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.home-bottom-section-left {
    background-color: #40a271; /* Adjust the background color as needed */
    width: 88%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 10%;
    padding-left: 3%;
    min-height: 15%;
    max-height: 15%;
}

.home-bottom-section-left h2 {
    top:0;
}

.home-bottom-section-left div {
    width: 30%; /* Adjust the width of each part as needed */
    color: #fff;
     /* Add some spacing between parts */
    padding-right: 20px; /* Add space on the right for the separator */
    border-right: 1px solid #fff; /* Add a white vertical border as separator */
}

.home-bottom-section-right {
    background-color: var(--yellow-color); /* Adjust the background color as needed */
    width: 95%;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 20px;
    position: absolute;
    bottom: 0;
    min-height: 15%;
    max-height: 15%;
}

.home-bottom-section-right div {
    flex: 1;
    width: 30%; /* Adjust the width of each part as needed */
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px; /* Add some spacing between parts */
    display: flex;
    position: absolute;
    bottom: 10%;
    margin-right: 20px;
}

.home-buttons {
    display: flex;
    gap: 10px;
    max-width: 100%;
    flex: 1;
    padding-top: 15px;
    text-align: center;
}

.home-button {
    flex: 1; 
    padding: 8px 10px;
    background-color: var(--button-color);
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}

hr{
    border-color: rgba(255, 255, 255, 0.271);
    background-color: rgba(255, 255, 255, 0.271);
    margin-top: 20%;
}

.text-box{
    margin-bottom: 0rem; 
    line-height: 0.5; 
}

.copy-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}

.copy-button i {
    color: white;
}

.copy-button:hover i{
    color: var(--yellow-color);
}

.copy-button:active { 
    transform: scale(0.95); 
} 

.home-footer-content{   
    width: 100%;
    color: var(--black-color);   
    font-size: 0.7em;
    text-align: center;
}
    
/* Home Page Styling Ends Here */


.rightbar-buttons {
    width: 100%;
}

.rightbar-button {
    flex: 1; 
    padding: 8px 15px;
    background-color: var(--blue);
    border: none;
    color: var(--white-color);
    border-radius: 10px;
    cursor: pointer;
    width:100%;
    margin-top: 1%;
    margin-bottom: 1%;
    min-height: 45px;  
}

.rightbar-divider {
    border-top: 1px solid var(--dashboard-border-color);
    margin-top: 10px;
    margin-bottom: 10px;
}


.breadcrumb-container{
    margin-top: 20px;
    background-color: var(--dashboard-purple);
    border: 1px solid var(--dashboard-border-color);
    border-radius: 15px;
    
    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    min-height: 30px;
        
}