:root {
    --white-color: #fff;
    --grey-color: #262A43;
    --dark-blue-color: #050162;
    --blue-color: #1A4BAD;
    --green-color: #00DCAC;
    --light-grey-color: #dbdbdb; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--white-color); 
    z-index: 1;
}

header{
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: var(--white-color);
    color: var(--grey-color);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
    overflow-x: auto;
    height: 80px;
    border-bottom: 1px solid var(--light-grey-color);
}

  /* Logo styles */
.navbar-logo img {
    width: 50px; 
    height: auto; 
}

.navbar-title {
    margin: 0;
    font-size: 26px;
    font-family: "Varela Round", sans-serif;
    color: var(--dark-blue-color);
}
.navbar-title .icon{
    padding-right: 10px;
}

/* Navigation links styles */
.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

.navbar-links li {
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
}

.navbar-links li:last-child {
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    margin-right: 0;
}

.navbar-links li:hover {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
}

.navbar-links a {
    color: var(--dark-blue-color);
    text-decoration: none;
    font-size: 16px;
}

.navbar-links a:hover {
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
}

/* Sign-in and Sign-up button styles */
.navbar-buttons {
    display: flex;
    align-items: center;
}

.signin-btn,
.signup-btn {
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
}

.signin-btn:hover,
.signup-btn:hover {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
}

.navbar-text{
    color: var(--blue-color);
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
}

.home-section {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}

.home-main-section {
    position: relative;
    width: 70%;
    overflow: hidden;
    
}

.home-content {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    color: #fff;
    width: 80%;
    padding-left: 5%;
}

.home-side-section {
    background-color: var(--blue);
    width: 30%;
    position: relative;
    overflow: hidden;
    background-color: #1A4BAD;
}

.home-content h1 {
    font-size: 4em;
    color: var(--dark-blue-color); 
    font-family: "Varela Round", sans-serif;
    margin-bottom: 10px;   
    font-weight: 600;   
}
.home-content h3 {
    font-size: 1.8em;
    color: var(--green-color); 
    padding-top:20px;
    margin-bottom: 10px;
}

.home-content p {
    font-size: 1.2em;
    color: var(--grey-color);
    margin-bottom: 10px; 
}

.home-buttons {
    display: flex;
    gap: 10px;
    max-width: 100%;
    flex: 1;
    padding-top: 15px;
    text-align: center;
}

.home-button {
    flex: 1; 
    padding: 8px 10px;
    background-color: var(--white-color);
    border: none;
    color: var(--dark-blue-color);
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}

hr{
    border-color: rgba(255, 255, 255, 0.271);
    background-color: rgba(255, 255, 255, 0.271);
    margin-top: 12%;
}

.text-box{
    margin-bottom: 0rem; 
    line-height: 0.5; 
}

.copy-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}

.copy-button i {
    color: var(--grey-color);
}

.copy-button:hover i{
    color: var(--yellow-color);
}

.copy-button:active { 
    transform: scale(0.95); 
} 

.home-footer-content{   
    width: 100%;
    color: var(--black-color);   
    font-size: 0.7em;
    text-align: center;
}

.home-main-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 280px; 
    height: 280px; 
    background-image: url('src/pattern-1.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
